<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.shiplyIntegrationDemo">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:name="com.example.shiplyIntegrationDemo.app.SampleProxyApplication"
            >
        <activity
                android:name="com.example.shiplyIntegrationDemo.activity.MainActivityNew"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.shiplyIntegrationDemo.activity.TestConfigActivity" />
        <activity android:name="com.example.shiplyIntegrationDemo.activity.TestResActivity" />
        <activity android:name="com.example.shiplyIntegrationDemo.activity.TestUpgradeActivity" />
        <activity android:name="com.example.shiplyIntegrationDemo.activity.TestRFixActivity" />
    </application>

</manifest>